﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Maximiliano Elias Alvarez<br />
    caba, buenos aires<br />
    <abbr title="Phone">P:</abbr>
    11-6850-2433
</address>

<address>
    <strong>Personal:</strong>   <a href="mailto:maximilianoe.alvarez@yahoo.com.ar">maximilianoe.alvarez@yahoo.com.ar</a><br />
</address>