﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nomina de empleados</h1>
    <p class="lead">Aplicacion test para Silogik</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Nomina</h2>
        <p>
            Vea, edite y elimine empleados.
        </p>
        <p> @Html.ActionLink("Nomina", "Index", "Nomina")</p>
    </div>
</div>