﻿@model IList<nomina_de_empleados.Models.Empleado>
@using Microsoft.Owin.Security
@{
    ViewBag.Title = "Lista de empleados";
    var noExiste = false;
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <h4 class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Empleados</h4>
    <button id="btn-nuevo" class="col-xs-6 col-sm-6 col-lg-6 col-md-6 btn btn-success">Nuevo Empleado</button>    
</div>

<table class="table">
    <thead>
    <tr>
        <th>Tipo</th>
        <th>Seccion</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Horas</th>
        <th>Importe</th>
        <th>Edicion</th>
    </tr>
    </thead>

    @{
        if (Model.Count() > 0)
        {
            <tbody>
            @foreach (var empleado in Model)
            {
                <tr>
                    <td>@empleado.Nombres</td>
                    <td>@empleado.Apellidos</td>
                    <td>@empleado.Horas</td>
                    <td>@empleado.Importe</td>
                    <td>
                        <input type="submit" class="btn btn-default" value="Remove"/>
                    </td>
                </tr>
            }
            </tbody>
        }
        else
        {
            noExiste = true;
        }
    }
</table>
@if (noExiste)
{
    <p class="alert alert-info">
        No existen empleados
    </p>
}

